/* styling for date and time in top right corner {id} */
#date-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

/* styling for title section */
h1 {
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}
  

/* styling for task bar */
#task-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    font: 125% georgia, sans-serif;
}
  
#task-bar a {
    display: inline-block;
    padding: 10px 50px;
    text-decoration: none;
    color: black;
}
  
/* styling for gallery section {Classes} */
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}
  
.gallery img {
  width: calc(25% - 20px);
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}
  
.blue_overline_text{ /* Class selector "." */
    color: blue; 
    text-decoration: overline;
}

#red_underline_text{ /* ID Selector "#" */
    color: red;
    text-decoration: underline;
}

body { 
	margin: 0; 
	padding: 0;
    height: 100vh;
    background-size: cover;
	}