* {
    /*This is making the default font sans-serif*/
    font-family: sans-serif;
}

/* styling for date and time in top right corner {id} */
#date-time {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
}

/* styling for title section */
h1 {
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}

body {
    background-color: lightblue;
    overflow-x: hidden;
    height: 100vh;
}

p {
    font-family: sans-serif;
}

#bullet-points {
    /*ID selector (Element that is unique within a page)*/
    font-family: sans-serif;
    margin-left: 300px;
    margin-top: -167px;
    margin-bottom: 60px;
}

#current-job{
    margin-top: 35px;
}

#contact-info{
    margin-left: 280px;
    margin-top: -80px;
}

#awards{
    margin-left: 600px;
    margin-top: -115px;
}

#hobbies{
    margin-left: 950px;
    margin-top: -115px;
}

#p-center {
    text-align: center;
}

img {
    width: calc(25% - 20px);
    height: auto;
    object-fit: cover;
    border: 2px solid black;
}

#head-shot {
    margin-left: 1300px;
    margin-top: -550px;
    width: 800px;
}

/* styling for task bar */
#task-bar {
    /*Class selector (*/
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #ddd;
    text-align: center;
    font: 125% georgia, sans-serif;
}

#task-bar a {
    display: inline-block;
    padding: 10px 60px;
    text-decoration: none;
    color: black;
}

/* styling for gallery section {Classes} 
.gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
}

.gallery img {

    margin-bottom: 20px;
}
*/

div.gallery {
    margin: 110px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
  }

  div.gallery img {
    width: 200%;
    height: auto;
  }